.row-2px {
    margin-left: -2px;
    margin-right: -2px;
}

.row-2px-col {
    padding-left: 2px;
    padding-right: 2px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.ribbon {
    background-color: #eee;
    margin-bottom: 4px;
    border-radius: 4px;
}

.ribbon-col {
    border-right: 1px solid #ddd;
}

.ribbon .ribbon-col:last-child {
    border-right: none;
}

.ribbon-group {
    padding-bottom: 24px;
}

.ribbon-group-content, .ribbon-group-title {
    padding: 4px;
}

.ribbon-icon {
    font-size: 2em;
    height: 34px;
    min-width: 34px;
    text-align: center;
}

.ribbon-icon-small {
    font-size: 1em;
    height: 16px;
    min-width: 16px;
    text-align: center;
}

.ribbon-group-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 0;
    background-color: #ddd;
    text-align: center;
}

.ribbon .ribbon-col:first-child .ribbon-group-title {
    border-radius: 0 0 0 4px;
    left: 2px;
}

.ribbon .ribbon-col:last-child .ribbon-group-title {
    border-radius: 0 0 4px;
    right: 2px;
}

.mobile-ribbon-item {
    display: none;
}

.mobile-ribbon-item.active {
    display: block;
}
*:focus {
    outline: none !important;
}

.nav-tabs {
    border-bottom: none;
}
