*:focus {
    outline: none !important;
}

body {
    cursor: default;
}

.nav-tabs {
    border-bottom: none;
}

#header {
    background: #61C376;
    margin-bottom: 0;
}
#header h1,
#header h2 {
    color: white;
}
#header h1 small {
    color: inherit;
    font-weight: inherit;
}

#footer {
    margin-bottom: 0;
    margin-top: 30px;
    padding-bottom: calc(48px - 1em);
}

#lgkLogo {
    text-decoration: none;
    font-size: 2em;
    color: #db5344;
    transition: color .5s;

    &:hover, &:focus {
        color: lighten(#db5344, 10%);
    }
}